#Competences{
  font-weight: bold;
}
#skills{

}
#ancres{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100px;
}
#ancre_competences{
  margin: 30px;
}
#photo{
  vertical-align: top;
}
header,p,body{
color:#0D0F56;font-family: 'Montserrat';
}
header{
  background-color: #f4f6f6;
  margin:-25px;
  padding:83px;
}
h2{
  font-size: 0.8em;
}
article{
  flex-direction: column;
}

html {
  font-size:100%;
}
 main{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
